.chats {
  padding-top: 6rem;
  p {
    clear: both;
  }
  .chat-bubble {
    color: #fff;
    background: #7269ef;
    background-size: cover;
    border-radius: 0.2rem;
    max-width: 50%;
    margin-left: 2%;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    float: left;
  }
  .current-user {
    background: #f5f7fb;
    color: #000000d2;
    border-radius: 0.2rem;
    max-width: 50%;
    margin-left: 48%;
    margin-bottom: 1rem;
    padding: 0.8rem 1rem;
    float: right;
    margin-right: 2%;
  }
}
.svg-color-purple {
  color: #7269ef;
}
.svg-color-white {
  color: #fff;
  background: #7269ef;
}
svg {
  fill: currentColor;
}
.login-register {
  padding-top: 6rem;
  text-align: center;
}
.login-heading {
  font-size: 1.4rem;
  font-weight: 300;
}
.form-box {
  width: 40%;
  margin: 0 auto;
}
.ftz-14 {
  font-size: 14px;
  color: #555555;
}
.login-btn {
  background: #7269ef;
  color: #fff;
}
.login-btn-google {
  background-color: rgba(255, 0, 0, 0.808);
  color: #fff;
}
.login-btn-github {
  background-color: rgba(0, 0, 0, 0.774);
  color: #fff;
}
